@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body{
        @apply text-[#22343D] box-border
    }
}

@layer components{
    .primary-button{
        @apply px-8 py-2 whitespace-nowrap font-semibold text-lg bg-[#02897A] text-white rounded-md cursor-pointer border-[#02897A] hover:bg-white border-2 hover:text-[#02897A] transition-all duration-200 active:scale-90
    }
    .secondary-button{
        @apply px-8 py-2 whitespace-nowrap font-semibold text-lg border-2 rounded-md cursor-pointer hover:border-[#02897A] hover:text-[#02897A] duration-200 active:scale-90
    }
    .nav-item{
        @apply cursor-pointer px-4 hover:font-semibold hover:scale-105 transition transform
    }
}

